img.emojie {
  height: 5em !important;
  width: 5em !important;
}

span.emojie {
  font-size: 5em !important;
  line-height: 1.2em !important;
}

code,
.chat-message, 
.chat-message.date-separator::before,
.chat-message-list,
.error-message, 
.inbox-message, 
.info-message, 
.mention-message, 
.selected-message.chat-message, 
.selected-message.error-message, 
.selected-message.inbox-message, 
.selected-message.info-message, 
.selected-message.mention-message, 
.selected-message.single-message, 
.selected-message.thread-activity-message, 
.selected-message.thread-discussion-message,
.single-message, 
.thread-activity-message, 
.thread-discussion-message,
.thread-properties tr {
	background: #3A3F40 !important;
	color: #FFF !important;
	border-color: #000 !important;
}

#inbox-toggle-item,
#new-tab,
#search-form-item,
#thread,
#toolbar,
.ac,
.action-message .content,
.autocomplete-option, 
.chat-header-small,
.dropdown-actions>li>a, 
.dropdown-menu,
.dropdown-menu>.dropdown-wrapper>li>a
.dropdown-menu>li>a, 
.flow,
.inbox-footer,
.inbox-message-list,
.input-button,
.loader,
.message-form,
.message-form fieldset,
.new-tab-item .name,
.notification,
h1, h2, h3, h4, h5, h6 {
	background: #3A3F40 !important;
	color: #FFF !important;
}

.formatted,
.inbox-comment-message,
.prettify-pln,
.prettify-pun,
.single-view-content-wrap {
	background: #4E5253 !important;
	color: #FFF !important;
}

.floating-header,
.static-header {
	background: #6A6B6C !important;
}

a,
.error-message .excerpt, 
.error-message .title, 
.inbox-comment-message .timestamp,
.inbox-message .excerpt, 
.inbox-message .title, 
.info-message .excerpt, 
.info-message .title, 
.single-message .excerpt,
.single-message .title,
.thread-activities .timestamp {
	color: #AAA !important;
}

a.mention,
a.tag,
.last-read-message-text,
.new-tab-flow-label,
.new-tab-people-label {
	background: #AAA !important;
	color: #333 !important;
	border: 1px solid #000 !important;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="url"], 
select, 
textarea,
.floating-close-button:hover,
.text-input, 
.tokenist,
.truncate-toggle:hover {
	background: #555 !important;
	color: #FFF !important;
}

.input-button,
.truncate-toggle::before {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.active .toolbar-toggle,
.right-item-group::before {
	background: none !important;
}

.new-tab-item.selected {
	background: #000 !important;
}
